<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <div class='container'>
    <div class='row'>
       <div class ='row'>
           
       </div>
        <div class='col-md-12'>
            <h3>Latest Mars News</h3>
            <h4>{{parti_data.title}}</h4>
            <p>{{parti_data.summary}}</p>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-8'>
            <h3>Featured Mars Image</h3>
            <img src='{{partii_data.url}}' width='100%'>
        </div>
        <div class='col-md-4'>
            <h5>Current Weather on Mars</h5>
            <p>{{partv_data.weather}}</p>
            <h5>Mars Facts</h5>
            {{partiii_data.table | safe}}
        </div>
    </div>
    <div class='row'>
       <h3>Mars Hemispheres</h3>
        <div class='row'>
           {% for partiv in partiv_data %}
            <div class='col-md-6'>
                <a href='{{partiv.img_url}}'><img src='{{partiv.img_url}}' width='75%'></a>
                <h5>{{partiv.title}}</h5>
            </div>
            {% endfor %}
        </div> 
    </div>
    </div>
  </div>
</body>

</html>
